@page "/blazor"
@namespace CountryInfoApp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <title>Your App</title>
        <base href="~/">
        <link href="~/css/app.css" rel="stylesheet" />
        <script src="_framework/blazor.server.js"></script>
    </head>
    <body>
        <component type="typeof(App)" render-mode="Server" />
    </body>
</html>

<script src="_framework/blazor.server.js"></script>

